body {
    margin: 0;
    background-color: #1F2937;
    color: white;
}

.top{
    margin: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #3f5470;
}

span{
    color: #49DE85;
}

p{
    color: #acb2bf;
}

button{
    background-color: #10B981;
    color: white;
    border: none;
    padding: 10px 12px;
    margin: 40px 0;
    border-radius: 4px;
}

.passwords{
    margin: 0 60px ;
    display: flex;
    justify-content: space-between;
}

input 
{
   padding: 10px 4px;
   background-color: #283d59;
   border: none;
   border-radius: 4px;
   color: #49DE85;
}
